:root {

  --primary-bg: #0f172a;

  --secondary-bg: #111827;

  --card-bg: rgba(255,255,255,0.08);

  --border-color: rgba(255,255,255,0.1);

  --text-main: #ffffff;

  --text-secondary: #9ca3af;

  --accent: #38bdf8;

  --accent-hover: #0ea5e9;
}

body {

  background: linear-gradient(
    135deg,
    #0f172a,
    #111827
  );

  color: var(--text-main);

  font-family: "Poppins",
  sans-serif;
}
@media (max-width: 768px) {

  .card-body {

    padding: 18px !important;
  }

  h1 {

    font-size: 2rem !important;
  }

  h2 {

    font-size: 1.5rem !important;
  }

  .btn-full {
  width: 100%;
}
}
.sidebar-container {
  width: 260px;
  min-height: 100vh;
  background: linear-gradient(180deg,#020617,#0f172a);
  transition: transform 0.3s ease;
}

/* DESKTOP */
@media (min-width: 769px) {
  .sidebar-container {
    position: relative;
    transform: translateX(0);
    display: flex !important;
  }
}

/* MOBILE */
@media (max-width: 768px) {

  .sidebar-open {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translateX(0);
    display: flex !important;
  }

  .sidebar-close {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translateX(-100%);
    display: flex !important;
  }
}.back-btn {
  width: auto !important;
}

@media (max-width: 768px) {
  .back-btn {
    width: auto !important;
    display: inline-flex;
    align-items: center;
  }
}